/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  max-width: 100%;
  height: auto;
  margin-right: 0;
  margin-left: 0;
}

.aligncenter {
  display: block;
  height: auto;
  margin: $whitespace auto;
}

.alignleft,
.alignright {
  height: auto;
  margin-bottom: $whitespace;
}

@media (min-width: 30rem) {
  .alignleft {
    margin-right: $whitespace;
    float: left;
  }

  .alignright {
    margin-left: $whitespace;
    float: right;
  }
}

/** Text meant only for screen readers */
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  background: $color-white;
  color: $color-black;
}
