footer {
  width: 100%;
  padding: 2rem 0;
  background: linear-gradient($color-life-light-blue, $color-life-blue);
  color: $color-white;

  @include respond-to("phone") {
    padding: 1.25rem 0;
  }
}

.footer {
  display: grid;
  max-width: 70rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 0 3.125rem;
  column-gap: 1rem;

  @include respond-to("phone") {
    grid-template-columns: 1fr;
    padding: 0 0.625rem;
  }
}

.footer__logo {
  display: inherit;
  height: 3.75rem;
  margin-bottom: 5.5rem;
  padding-left: 8.5rem;
  column-count: 2;
  background: url("../images/LezerIndoFilmEnterprise-Logo-Negative.svg") no-repeat center left;
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  line-height: 3.75rem;
  text-transform: uppercase;
  grid-column: 1 / span 2;

  @include respond-to("phone") {
    margin-bottom: 2.875rem;
    padding: 3.5rem 0 0;
    background-position: top left;
    background-size: 7.1875rem;
    font-size: 1.125rem;
  }
}

.footer__copyright {
  grid-column: 1;
  font-size: $font-size-s;

  @include respond-to("phone") {
    font-size: $font-size-xs;
    grid-row: 3;
  }
}

.footer__navigation {
  grid-column: 2;

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    column-gap: 2.5rem;

    li {
      list-style-type: none;
      text-align: center;
    }

    a,
    a:visited {
      color: $color-white;
      text-decoration: none;
    }

    a:hover {
      color: $color-black;
      text-decoration: underline;
    }

    @include respond-to("phone") {
      justify-content: flex-start;
    }
  }

  @include respond-to("phone") {
    grid-row: 2;
    grid-column: 1;
    margin-bottom: 1.75rem;
    font-size: $font-size-xs;
  }
}
