.header {
  position: fixed;
  z-index: $z-index-20;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: $color-white;
  box-shadow: 0 3px 10px #000;

  @include respond-to("phone") {
    height: 3rem;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  height: 3.75rem;
  margin: 0 auto;
  padding: 0.75rem 3.125rem;
  gap: 1rem;

  @include respond-to("phone") {
    height: 2.25rem;
    padding: 0.375rem 0.625rem;
  }
}

.header__logo {
  display: block;
  height: 100%;

  img {
    display: block;
    width: auto;
    height: 100%;
  }
}

.header__navigation-mobile {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 3em;
  height: 3rem;
  background: url("../images/hamburger.png") no-repeat center / 1.5rem;
  cursor: pointer;

  @include respond-to("phone") {
    display: block;
  }

  &.header__navigation-mobile--close {
    display: block;
    background: url("../images/close.png") no-repeat center / 2rem;
  }
}

.header__navigation-mobile-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;

  &.header__navigation-mobile-overlay--show {
    display: block;
  }
}

.header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond-to("phone") {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 12rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 10px 10px 2rem #000;

    &.header__navigation--show {
      display: flex;
    }
  }
}

.main-navigation__upper {
  flex-wrap: wrap; /* stylelint-disable-line declaration-block-no-redundant-longhand-properties */
  padding: 0 0 0.25rem;

  @include respond-to("phone") {
    margin-top: 1.75rem;
    padding-bottom: 0;
    font-size: 1.125rem;
  }

  a {
    line-height: 1.25rem;
  }
}

.main-navigation__lower {
  flex-wrap: wrap; /* stylelint-disable-line declaration-block-no-redundant-longhand-properties */
  padding: 0.25rem 0 0;
  border-top: 1px solid $color-life-blue;

  @include respond-to("phone") {
    padding-top: 0;
    border-top: none;
  }

  a {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  column-gap: 1.75rem;
  list-style-type: none;
  line-height: 1.5rem;

  @include respond-to("phone") {
    flex-direction: column;
  }

  a,
  a:visited {
    color: $color-life-blue;
    text-decoration: none;
  }

  a:hover {
    color: $color-black;
    text-decoration: underline;
  }
}
