.block {
  padding: 1.25rem 1.875rem;
  border-radius: 1rem;
  background: linear-gradient($color-lightgrey, $color-grey);

  @include respond-to("phone") {
    padding: 1.25rem 0.9375rem;
    border-radius: 0.875rem;
  }
}

.block__title {
  margin-top: 0;
  margin-bottom: 1.25rem;
  color: $color-life-blue;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
}

.block__header {
  margin-top: 0;
  margin-bottom: 0;
  color: $color-black;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: $font-weight-bold;
}

.block--logo {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-content: center;
  justify-content: space-evenly;

  @include respond-to("phone") {
    gap: 2.8rem;
  }

  .logo {
    display: block;
    width: auto;
    height: 100%;
    max-height: 4rem;

    @include respond-to("phone") {
      max-height: 3rem;
    }
  }
}

.no-underline {
  text-decoration: none;
}

.video {
  position: relative;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    padding-top: 56.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.film-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;

  p {
    margin: 0 0 1rem;
  }

  div:first-child {
    max-width: 15rem;
  }

  @include respond-to("phone") {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.synopsis {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25rem;

  .synopsis__film-poster {
    width: 100%;
    height: auto;

    @include respond-to("phone") {
      order: 2;
      width: 75%;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  p {
    margin: 0;
  }

  @include respond-to("phone") {
    grid-template-columns: 1fr;
  }
}

.block.cast-and-credits {
  padding-bottom: 2rem;

  .block__title {
    margin-bottom: 0;
  }

  .cast-and-credits__container {
    column-gap: 2rem;
    column-count: 3;

    .cast-and-credits__group {
      display: inline-block; /* important to wrap notes not content */
      width: 100%;
      margin-top: 1.5rem;
    }

    .cast-and-credits__group-name {
      margin: 0;
      font-size: 15px;
      font-weight: $font-weight-bold;
    }

    .cast-and-credits__group-people {
      white-space: pre-line;
    }

    @include respond-to("phone") {
      column-count: 1;
    }
  }
}

.block.awards {
  padding-bottom: 2rem;

  .block__title {
    margin-bottom: 0;
  }

  .awards__container {
    column-gap: 2rem;
    column-count: 2;

    .award {
      padding-top: 1.5rem;

      .award__location-and-year {
        display: list-item;
        position: relative;
        left: 1rem;
      }

      @include respond-to("phone") {
        .award__category {
          margin-left: 1rem;
        }
      }
    }

    @include respond-to("phone") {
      column-count: 1;
    }
  }
}

.festivals {
  padding-left: 1rem;
}

.press-kit {
  .press-kit__image {
    position: relative;
    left: 1rem;
    width: 12rem;
    height: 11rem;
    margin: 1rem auto 2rem;
    background: url("../images/press-kit.png") no-repeat center / contain;
  }
}

.carousel {
  position: relative;

  .splide__track {
    margin: 0 2.5rem;
  }

  .splide__slide {
    height: 18rem;

    .splide__slide-content {
      display: block;
      max-width: 100%;
      height: 100%;
      margin: 0 0.5625rem;
      border-radius: 5px;
    }
  }

  .splide__arrow {
    position: absolute;
    z-index: 10;
    top: calc(50% - 1.25rem);
    width: 1.5rem;
    height: 2.5rem;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: $color-life-blue;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      fill: $color-black;
    }

    &:disabled {
      fill: $color-darkgrey;
      cursor: default;
    }

    &.splide__arrow--next {
      right: 0;
    }

    &.splide__arrow--prev {
      left: 0;
      transform: rotate(180deg);
    }

    svg {
      display: block;
      width: 100%;
    }
  }
}
