html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.15;
}

body {
  margin: 0;
  padding: 0;
  background: $color-white;
  color: $color-black;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  display: flex;
  position: absolute;
  row-gap: 0.3125rem;
  bottom: -1.5rem;
  left: 6.75rem;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: $color-white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: $font-size-xxl;
  font-weight: bold;

  span {
    width: max-content;
    padding: 0 10px 2px;
    border-radius: 5px;
    background: linear-gradient($color-life-light-blue, $color-life-blue);
    line-height: 4.75rem;

    @include respond-to("phone") {
      padding: 0 5px 2px;
      line-height: 1.5rem;
    }
  }

  @include respond-to("phone") {
    bottom: -0.5rem;
    left: 1rem;
    font-size: $font-size-l;
  }
}

.button {
  padding: 0.2rem 1.2rem;
  border-radius: 2.2rem;
  background: linear-gradient($color-life-blue, $color-life-light-blue);
  color: $color-white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-transform: uppercase;

  &.button--centered {
    display: block;
    width: max-content;
    margin: 0 auto;
  }
}

.centered {
  display: block;
  width: max-content;
  margin: 0 auto;
}

/* Block background colours */
.has-black-background-color {
  background-color: $color-black;
}

.has-white-background-color {
  background-color: $color-white;
}

/* Block text colours */
.has-black-color {
  color: $color-black;
}

.has-white-color {
  color: $color-white;
}
