.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

@media screen and (max-width: $screen-width-s) {
  .hide-for-xsmall-only {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-s) {
  .show-for-xsmall-only {
    display: none !important;
  }
}

@media print, screen and (min-width: $screen-width-s) {
  .hide-for-small {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-m) {
  .show-for-small {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-s) and (max-width: $screen-width-m) {
  .hide-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width: $screen-width-s), screen and (min-width: $screen-width-m) {
  .show-for-small-only {
    display: none !important;
  }
}

@media print, screen and (min-width: $screen-width-m) {
  .hide-for-medium {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-l) {
  .show-for-medium {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-m) and (max-width: $screen-width-l) {
  .hide-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width: $screen-width-m), screen and (min-width: $screen-width-l) {
  .show-for-medium-only {
    display: none !important;
  }
}

@media print, screen and (min-width: $screen-width-l) {
  .hide-for-large {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-xl) {
  .show-for-large {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-l) and (max-width: $screen-width-xl) {
  .hide-for-large-only {
    display: none !important;
  }
}

@media screen and (max-width: $screen-width-l), screen and (min-width: $screen-width-xl) {
  .show-for-large-only {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-xl) {
  .hide-for-xlarge {
    display: none !important;
  }
}

@media screen and (max-width: calc(#{$screen-width-xl} - 1px)) {
  .show-for-xlarge {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-xl) and (max-width: $screen-width-xxl) {
  .hide-for-xlarge-only {
    display: none !important;
  }
}

@media screen and (max-width: $screen-width-xl), screen and (min-width: $screen-width-xxl) {
  .show-for-xlarge-only {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-xxl) {
  .hide-for-xxlarge {
    display: none !important;
  }
}

@media screen and (max-width: $screen-width-xxl) {
  .show-for-xxlarge {
    display: none !important;
  }
}

@media screen and (min-width: $screen-width-xxl) {
  .hide-for-xxlarge-only {
    display: none !important;
  }
}

@media screen and (max-width: $screen-width-xxl) {
  .show-for-xxlarge-only {
    display: none !important;
  }
}

.show-for-sr,
.show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.show-on-focus:active,
.show-on-focus:focus {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.show-for-landscape,
.hide-for-portrait {
  display: block !important;
}

@media screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: block !important;
  }
}

@media screen and (orientation: portrait) {
  .show-for-landscape,
  .hide-for-portrait {
    display: none !important;
  }
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

@media screen and (orientation: landscape) {
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }
}

@media screen and (orientation: portrait) {
  .hide-for-landscape,
  .show-for-portrait {
    display: block !important;
  }
}
