.page-content .has-padding {
  padding: $whitespace;
}

.page-content .has-margin-top,
.page-content .has-margin-top-mobile {
  margin-top: $whitespace;
}

.page-content .has-margin-right,
.page-content .has-margin-right-mobile {
  margin-right: $whitespace;
}

.page-content .has-margin-bottom,
.page-content .has-margin-bottom-mobile {
  margin-bottom: $whitespace;
}

.page-content .has-margin-left,
.page-content .has-margin-left-mobile {
  margin-left: $whitespace;
}

.page-content .has-margin-top-small {
  margin-top: 0.5rem;
}

.page-content .has-margin-right-small {
  margin-right: 0.5rem;
}

.page-content .has-margin-bottom-small {
  margin-bottom: 0.5rem;
}

.page-content .has-margin-left-small {
  margin-left: 0.5rem;
}

.page-content .has-margin-top-big {
  margin-top: calc(#{$whitespace} * 2);
}

.page-content .has-margin-right-big {
  margin-right: calc(#{$whitespace} * 2);
}

.page-content .has-margin-bottom-big {
  margin-bottom: calc(#{$whitespace} * 2);
}

.page-content .has-margin-left-big {
  margin-left: calc(#{$whitespace} * 2);
}

.page-content .no-margin-top {
  margin-top: 0;
}

.page-content .no-margin-right {
  margin-right: 0;
}

.page-content .no-margin-bottom {
  margin-bottom: 0;
}

.page-content .no-margin-left {
  margin-left: 0;
}

.page-content .no-padding,
.page-content .wp-block-column .no-padding {
  padding: 0;
}

.page-content .no-padding-top,
.page-content .wp-block-column .no-padding-top {
  padding-top: 0;
}

.page-content .no-padding-right,
.page-content .wp-block-column .no-padding-right {
  padding-right: 0;
}

.page-content .no-padding-bottom,
.page-content .wp-block-column .no-padding-bottom {
  padding-bottom: 0;
}

.page-content .no-padding-left,
.page-content .wp-block-column .no-padding-left {
  padding-left: 0;
}

@media (min-width: $screen-width-m) {
  .page-content .has-margin-bottom-small {
    margin-bottom: 0;
  }

  .page-content .has-margin-top-big {
    margin-top: calc(#{$whitespace} * 2);
  }
}

@media (min-width: $screen-width-l) {
  .page-content .has-margin-top-mobile {
    margin-top: 0;
  }

  .page-content .has-margin-right-mobile {
    margin-right: 0;
  }

  .page-content .has-margin-bottom-mobile {
    margin-bottom: 0;
  }

  .page-content .has-margin-left-mobile {
    margin-left: 0;
  }

  .page-content .has-margin-top-desktop,
  .page-content .wp-block-column.has-margin-top-desktop {
    margin-top: $whitespace;
  }

  .page-content .has-margin-top-big-desktop,
  .page-content .wp-block-column.has-margin-top-big-desktop {
    margin-top: calc(#{$whitespace} * 2);
  }

  .page-content .has-margin-left-desktop,
  .page-content .wp-block-column.has-margin-left-desktop {
    margin-left: $whitespace;
  }
}
