.xsmall-order-1 {
  order: 1;
}

.xsmall-order-2 {
  order: 2;
}

.xsmall-order-3 {
  order: 3;
}

.xsmall-order-4 {
  order: 4;
}

.xsmall-order-5 {
  order: 5;
}

.xsmall-order-6 {
  order: 6;
}

@media print, screen and (min-width: $screen-width-s) {
  .small-order-1 {
    order: 1;
  }

  .small-order-2 {
    order: 2;
  }

  .small-order-3 {
    order: 3;
  }

  .small-order-4 {
    order: 4;
  }

  .small-order-5 {
    order: 5;
  }

  .small-order-6 {
    order: 6;
  }
}

@media print, screen and (min-width: $screen-width-m) {
  .medium-order-1 {
    order: 1;
  }

  .medium-order-2 {
    order: 2;
  }

  .medium-order-3 {
    order: 3;
  }

  .medium-order-4 {
    order: 4;
  }

  .medium-order-5 {
    order: 5;
  }

  .medium-order-6 {
    order: 6;
  }
}

@media print, screen and (min-width: $screen-width-l) {
  .large-order-1 {
    order: 1;
  }

  .large-order-2 {
    order: 2;
  }

  .large-order-3 {
    order: 3;
  }

  .large-order-4 {
    order: 4;
  }

  .large-order-5 {
    order: 5;
  }

  .large-order-6 {
    order: 6;
  }
}

@media screen and (min-width: $screen-width-xl) {
  .xlarge-order-1 {
    order: 1;
  }

  .xlarge-order-2 {
    order: 2;
  }

  .xlarge-order-3 {
    order: 3;
  }

  .xlarge-order-4 {
    order: 4;
  }

  .xlarge-order-5 {
    order: 5;
  }

  .xlarge-order-6 {
    order: 6;
  }
}

@media screen and (min-width: $screen-width-xxl) {
  .xxlarge-order-1 {
    order: 1;
  }

  .xxlarge-order-2 {
    order: 2;
  }

  .xxlarge-order-3 {
    order: 3;
  }

  .xxlarge-order-4 {
    order: 4;
  }

  .xxlarge-order-5 {
    order: 5;
  }

  .xxlarge-order-6 {
    order: 6;
  }
}
