.page {
  margin-top: 5rem;

  @include respond-to("phone") {
    margin-top: 3rem;
  }
}

.page__header {
  position: relative;
  height: 35rem;
  background: linear-gradient($color-white, $color-lightgrey) center top;
  background-size: cover;

  .page__header-container {
    position: relative;
    max-width: 70rem;
    height: 100%;
    margin: 0 auto;
  }

  @include respond-to("phone") {
    height: 15rem;
  }
}

.page__content {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3.75rem 3.125rem 0;

  @include respond-to("phone") {
    padding: 1.9rem 0.625rem 0;
  }
}

.row {
  display: grid;
  margin-bottom: 2.5rem;
  gap: 2.5rem;

  &.row--40-60 {
    grid-template-columns: 4fr 6fr;

    @include respond-to("phone") {
      grid-template-columns: 1fr;
    }
  }

  &.row--50-50 {
    grid-template-columns: 1fr 1fr;

    @include respond-to("phone") {
      grid-template-columns: 1fr;
    }
  }

  @include respond-to("phone") {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
