/** Screen Sizes */
$screen-width-s: 20rem; // 320px
$screen-width-m: 40rem; // 640px
$screen-width-l: 60rem; // 960px
$screen-width-xl: 75rem; // 1200px
$screen-width-xxl: 90rem; // 1440px

$breakpoints: (
  "phone":  40rem,
  "tablet": 60rem,
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    /* stylelint-disable-next-line scss/operator-no-newline-after */
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " +
      "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

/** Colours */
// LIFE colours
$color-life-blue: #245aa1;
$color-life-light-blue: #007bbc;

// Gray scale
$color-black: #1d1d1d;
$color-darkgrey: #b3b3b3;
$color-grey: #ddd;
$color-lightgrey: #efefef;
$color-white: #fff;

// Colours used by buttons, on hover, etc.
$color-darkred: #67251a;
$color-red: #c4121b;
$color-bronze: #805700;
$color-orange: #dd6e00;
$color-darkblue: #1a3870;
$color-blue: #1779ba;
$color-lightblue: #007c98;
$color-purple: #953970;
$color-darkgreen: #157539;
$color-green: #3adb76;
$color-yellow: #ffae00;

// Other colours
$color-success: #22bb5b;
$color-error: $color-red;

/** Box Model  */
$whitespace: 1.5rem;

// WordPress admin bar settings
$wp-adminbar-height: 32px;
$wp-adminbar-mobile-breakpoint: 782px;
$wp-adminbar-mobile-height: 46px;

// Header related variables
$header-height: 5.5rem;
$header-padding: 1.4rem;
$navigation-logo-max-height: 3.3rem;
$footer-height: 25rem;

// Font sizes
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-heavy: 900;

/* Indexes */
$z-index-minus1: -1;
$z-index-1: 1;
$z-index-10: 10;
$z-index-20: 20;
$z-index-30: 30;
$z-index-40: 40;
$z-index-50: 50;
