/* This file is loaded only by the WordPress back-end */

:root {
  --color-black: #2e2e2e;
  --color-white: #fff;
  --whitespace: 1.5rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-font-awesome: 900;
}

.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second::before {
  display: none;
}

/* Make Gutenberg editor wider */
.wp-block {
  max-width: 960px;
}

.wp-block[data-align="wide"] {
  max-width: 1400px;
}

.wp-block[data-align="full"] {
  max-width: none;
}

/* Make Gutenberg editor look more like the theme */
.editor-styles-wrapper .block-editor-block-list__block.wp-block-column:not(:first-child),
.wp-block-column:not(:first-child) {
  margin-left: 0;
}

.editor-styles-wrapper p.block-editor-block-list__block,
.editor-styles-wrapper h2.block-editor-block-list__block,
.editor-styles-wrapper p,
.editor-styles-wrapper figure {
  margin-top: 0;
  margin-bottom: 0;
}

.editor-styles-wrapper figure.full-width > div {
  width: 100% !important;
  height: 100% !important;
}

.editor-styles-wrapper figure > figcaption {
  display: none;
}

.editor-styles-wrapper .block-editor__typewriter {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-styles-wrapper .block-editor__typewriter h1,
.editor-styles-wrapper .block-editor__typewriter h2,
.editor-styles-wrapper .block-editor__typewriter h3,
.editor-styles-wrapper .block-editor__typewriter h4 {
  margin: 0 auto;
  font-weight: var(--font-weight-bold);
}

.editor-styles-wrapper .block-editor__typewriter h2 {
  margin-top: var(--whitespace);
  padding: 16px 24px;
  font-size: 23px;
}

.editor-styles-wrapper .block-editor__typewriter p {
  padding: 24px;
}

.editor-styles-wrapper .block-editor__typewriter h3 { /* Header inside blocks */
  padding: var(--whitespace) var(--whitespace) 0 var(--whitespace);
  background-color: var(--color-etc-blue10);
  color: var(--color-etc-blue);
  font-size: 2rem;
  line-height: 2rem;
}

.editor-styles-wrapper .block-editor__typewriter h4 { /* For summaries inside blocks */
  padding: var(--whitespace);
  background-color: var(--color-etc-blue60);
  color: var(--color-white);
  font-size: 1.5rem;
  line-height: 2rem;
}

.block-editor__typewriter h2 a {
  text-decoration: none;
}

.block-editor__typewriter h5,
.block-editor__typewriter .box-button {
  position: relative;
  flex: 0;
  margin: 0 !important;
  padding: 1.5rem;
  background-color: var(--color-etc-lightblue);
  color: var(--color-white) !important;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.5rem;
}

.block-editor__typewriter h5 a,
.block-editor__typewriter .box-button a {
  display: block;
  padding: var(--whitespace);
  color: var(--color-white) !important;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-transform: uppercase;
}

.block-editor__typewriter h5 a::after,
.block-editor__typewriter .box-button a::after {
  content: "\f061";
  display: inline-block;
  position: absolute;
  top: calc(50% - 0.75rem);
  right: 1.5rem;
  left: auto;
  height: 1.5rem;
  transform: translate(0, 0);
  color: var(--color-white);
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 1.5rem;
  font-weight: var(--font-weight-font-awesome);
  line-height: 1.5rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block-editor__typewriter p.no-underline a {
  text-decoration: none;
}

.block-editor__typewriter .uppercase {
  text-transform: uppercase;
}

/* Partner carousel block */
#partners-panel .text-title {
  height: 100%;
  max-height: 56px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.partner-carousel {
  height: 100px;
  overflow: hidden;
}

.partner-carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.partner-carousel .slide {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 100px;
}

.partner-carousel .slide img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  max-width: 80%;
  height: auto;
  max-height: 100%;
  margin: auto;
}

/* Font weights */
.editor-styles-wrapper .block-editor__typewriter.font-regular {
  font-weight: var(--font-weight-regular) !important;
}

.editor-styles-wrapper .block-editor__typewriter .font-medium {
  font-weight: var(--font-weight-medium) !important;
}

.editor-styles-wrapper .block-editor__typewriter b,
.editor-styles-wrapper .block-editor__typewriter strong,
.editor-styles-wrapper .block-editor__typewriter .font-semibold {
  font-weight: var(--font-weight-semibold) !important;
}

.editor-styles-wrapper .block-editor__typewriter .bold,
.editor-styles-wrapper .block-editor__typewriter .font-bold {
  font-weight: var(--font-weight-bold) !important;
}

.editor-styles-wrapper .block-editor__typewriter .extrabold,
.editor-styles-wrapper .block-editor__typewriter .extrafont-bold {
  font-weight: var(--font-weight-extrabold) !important;
}

/* Special backgrounds */
.block-editor__typewriter .has-arrow-right-background {
  position: relative;
}

.block-editor__typewriter .has-arrow-right-background::after {
  content: "\f061";
  display: inline-block;
  position: absolute;
  top: calc(50% - 0.75rem);
  right: 1.5rem;
  left: auto;
  height: 1.5rem;
  transform: translate(0, 0);
  color: var(--color-white);
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 1.5rem;
  font-weight: var(--font-weight-font-awesome);
  line-height: 1.5rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block-editor__typewriter .has-videoplayer-background {
  position: relative;
}

.block-editor__typewriter .has-videoplayer-background::after {
  content: "\f167";
  display: inline-block;
  position: absolute;
  top: calc(50% - 0.75rem);
  right: 1.5rem;
  left: auto;
  height: 1.5rem;
  transform: translate(0, 0);
  font-family: "Font Awesome 5 Brands", sans-serif;
  font-size: 2.5rem;
  font-weight: var(--font-weight-font-awesome);
  line-height: 1.5rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.block-editor__typewriter .has-etc-card-background {
  min-height: 300px;
  background-image: url("../../images/etc-benefits-card.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: auto 75%;
}

/* Flex */
.block-editor__typewriter .wp-block-column {
  display: flex;
  flex-direction: column;
}

.block-editor__typewriter .wp-block-column .wp-block {
  margin-right: 0;
  margin-left: 0;
}

.editor-styles-wrapper .wp-block-column h2 {
  margin-top: 0;
}

.block-editor__typewriter .wp-block-column *:nth-last-child(2) {
  flex: 1;
}

.flex {
  flex: 1 !important;
}

.no-flex {
  flex: 0 !important;
}

.editor-styles-wrapper .block-editor__typewriter .narrow-height {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.block-editor-block-list__block .block-list-appender {
  margin: 0;
}

/* ==== Margins etc. ==== */
.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.has-margin-top {
  margin-top: var(--whitespace) !important;
}

.has-margin-left {
  margin-left: var(--whitespace) !important;
}

.has-margin-bottom {
  margin-bottom: var(--whitespace) !important;
}

.has-margin-right {
  margin-right: var(--whitespace) !important;
}

.has-margin-top-desktop {
  margin-top: var(--whitespace) !important;
}

.has-margin-top-big-desktop {
  margin-top: calc(var(--whitespace) * 2) !important;
}

.has-margin-left-desktop {
  margin-left: var(--whitespace) !important;
}

/* Small margins */

.editor-styles-wrapper .has-margin-top-small,
.block-editor__typewriter .wp-block-column.has-margin-top-small {
  margin-top: 0.5rem !important;
}

.editor-styles-wrapper .has-margin-left-small,
.block-editor__typewriter.has-margin-left-small {
  margin-left: 0.5rem !important;
}

.editor-styles-wrapper .has-margin-bottom-small,
.block-editor__typewriter .has-margin-bottom-small {
  margin-bottom: 0.5rem !important;
}

.editor-styles-wrapper .has-margin-right-small,
.block-editor__typewriter .has-margin-right-small {
  margin-right: 0.5rem !important;
}

/* Big margins */

.editor-styles-wrapper .block-editor-block-list__block.has-margin-top-big,
.block-editor__typewriter .wp-block-column.has-margin-top-big {
  margin-top: calc(var(--whitespace) * 2) !important;
}

.editor-styles-wrapper .block-editor-block-list__block.has-margin-left-big,
.block-editor__typewriter .wp-block-column.has-margin-left-big {
  margin-left: calc(var(--whitespace) * 2) !important;
}

.editor-styles-wrapper .block-editor-block-list__block.has-margin-bottom-big,
.block-editor__typewriter .wp-block-column.has-margin-bottom-big {
  margin-bottom: calc(var(--whitespace) * 2) !important;
}

.editor-styles-wrapper .block-editor-block-list__block.has-margin-right-big,
.block-editor__typewriter .wp-block-column.has-margin-right-big {
  margin-right: calc(var(--whitespace) * 2) !important;
}

/* Image block */

.block-editor__typewriter .wp-block-column img {
  object-fit: cover;
  object-position: 50% 25%;
  height: 100%;
}

.block-editor__typewriter .wp-block-column img.full-width {
  width: 100%;
}

/* ==== Image Gallery block ==== */

.block-editor__typewriter .wp-block-gallery {
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}

.block-editor__typewriter .wp-block-gallery li.blocks-gallery-item {
  margin: 0 !important;
}

.block-editor__typewriter .wp-block-gallery.columns-6 li.blocks-gallery-item img {
  width: 100%;
}

/* Image Gallery with 6 columns */

.block-editor__typewriter .wp-block-gallery.columns-6 li.blocks-gallery-item {
  width: 16.66%;
}

/* Block background colours */
.block-editor__typewriter .has-etc-orange-background-color,
.block-editor__typewriter h2.has-etc-orange-background-color a {
  background-color: var(--color-etc-orange) !important;
}

.block-editor__typewriter .has-etc-orange-60-background-color,
.block-editor__typewriter h2.has-etc-orange-60-background-color a {
  background-color: var(--color-etc-orange60) !important;
}

.block-editor__typewriter .has-etc-blue-background-color,
.block-editor__typewriter h2.has-etc-blue-background-color a {
  background-color: var(--color-etc-blue) !important;
}

.block-editor__typewriter .has-etc-blue-60-background-color,
.block-editor__typewriter h2.has-etc-blue-60-background-color a {
  background-color: var(--color-etc-blue60) !important;
}

.block-editor__typewriter .has-etc-blue-10-background-color,
.block-editor__typewriter h2.has-etc-blue-10-background-color {
  background-color: var(--color-etc-blue10) !important;
}

.block-editor__typewriter .has-etc-purple-background-color,
.block-editor__typewriter h2.has-etc-purple-background-color a {
  background-color: var(--color-etc-purple) !important;
}

.block-editor__typewriter .has-etc-purple-60-background-color,
.block-editor__typewriter h2 .has-etc-purple-60-background-color a {
  background-color: var(--color-etc-purple60) !important;
}

.block-editor__typewriter .has-etc-lightblue-background-color,
.block-editor__typewriter h2.has-etc-lightblue-background-color a {
  background-color: var(--color-etc-lightblue) !important;
}

.block-editor__typewriter .has-etc-teal-background-color,
.block-editor__typewriter h2.has-etc-teal-background-color a {
  background-color: var(--color-etc-teal) !important;
}

.block-editor__typewriter .has-etc-teal-60-background-color,
.block-editor__typewriter h2.has-etc-teal-60-background-color a {
  background-color: var(--color-etc-teal60) !important;
}

.block-editor__typewriter .has-black-background-color,
.block-editor__typewriter h2.has-black-background-color a {
  background-color: var(--color-black) !important;
}

.block-editor__typewriter .has-white-background-color,
.block-editor__typewriter h2.has-white-background-color a {
  background-color: var(--color-white) !important;
}

/* Block text colours */
.block-editor__typewriter .has-etc-orange-color,
.block-editor__typewriter h2.has-etc-orange-color a {
  color: var(--color-etc-orange) !important;
}

.block-editor__typewriter .has-etc-orange-60-color,
.block-editor__typewriter h2.has-etc-orange-60-color a {
  color: var(--color-etc-orange60) !important;
}

.block-editor__typewriter .has-etc-blue-color,
.block-editor__typewriter h2.has-etc-blue-color a {
  color: var(--color-etc-blue) !important;
}

.block-editor__typewriter .has-etc-blue-60-color,
.block-editor__typewriter h2.has-etc-blue-60-color a {
  color: var(--color-etc-blue60) !important;
}

.block-editor__typewriter .has-etc-blue-10-color,
.block-editor__typewriter h2.has-etc-blue-10-color a {
  color: var(--color-etc-blue10) !important;
}

.block-editor__typewriter .has-etc-purple-color,
.block-editor__typewriter h2.has-etc-purple-color a {
  color: var(--color-etc-purple) !important;
}

.block-editor__typewriter .has-etc-purple-60-color,
.block-editor__typewriter h2.has-etc-purple-60-color a {
  color: var(--color-etc-purple60) !important;
}

.block-editor__typewriter .has-etc-lightblue-color,
.block-editor__typewriter h2.has-etc-lightblue-color a {
  color: var(--color-etc-lightblue) !important;
}

.block-editor__typewriter .has-etc-teal-color,
.block-editor__typewriter h2.has-etc-teal-color a {
  color: var(--color-etc-teal) !important;
}

.block-editor__typewriter .has-etc-teal-60-color,
.block-editor__typewriter h2.has-etc-teal-60-color a {
  color: var(--color-etc-teal60) !important;
}

.block-editor__typewriter .has-black-color,
.block-editor__typewriter h2.has-black-color a {
  color: var(--color-black) !important;
}

.block-editor__typewriter .has-white-color,
.block-editor__typewriter h2.has-white-color a {
  color: var(--color-white) !important;
}

/* Wp columns */
.block-editor-block-list__block.wp-block-columns {
  flex-wrap: wrap;
  margin-top: var(--whitespace);
  margin-bottom: 0;
}

.block-editor-block-list__block.wp-block-columns.has-gap,
.block-editor-block-list__block.wp-block-columns.has-gap-desktop {
  gap: var(--whitespace);
}

.block-editor-block-list__block.wp-block-columns.no-margin-top {
  margin-top: 0;
}

.wp-block-columns.course-overview {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 3rem;
}

.wp-block-columns.course-overview .wp-block-column {
  flex-basis: calc(33.34% - (var(--whitespace) * 2)) !important;
  gap: 0.5rem;
}

.wp-block-columns.course-overview .wp-block-column :last-child {
  flex: 0;
}

.wp-block-columns.course-overview .wp-block-column a {
  display: block;
  line-height: 3rem;
  text-decoration: none;
}

.wp-block-columns.course-overview .wp-block-column h2 {
  margin-top: 0;
  padding: 0 var(--whitespace);
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  line-height: 3rem;
  text-transform: uppercase;
}

.wp-block-columns.course-overview .wp-block-column p {
  padding: 0 var(--whitespace);
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
  line-height: 3rem;
}

.wp-block-columns .wp-block-column .summary {
  padding: 8px 24px;
  background-color: var(--color-etc-blue60);
  color: var(--color-white);
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  line-height: 3rem;
}

/* Homepage 5 Reasons design */
.editor-styles-wrapper .block-editor__typewriter .five-reasons-title {
  padding-bottom: var(--whitespace);
  background-color: var(--color-etc-blue10);
  color: var(--color-etc-blue);
  font-size: 2rem;
  text-transform: uppercase;
}

.editor-styles-wrapper .block-editor__typewriter .five-reasons-title::after {
  content: ":";
  position: relative;
  color: var(--color-etc-orange);
}

.wp-block-columns.five-reasons {
  flex-direction: row;
  margin-top: 0;
  padding-right: var(--whitespace);
  padding-bottom: var(--whitespace);
  padding-left: var(--whitespace);
  gap: var(--whitespace);
  background-color: var(--color-etc-blue10);
}

.wp-block-columns.five-reasons .wp-block-column p:first-child {
  font-size: 3.4rem;
  font-weight: var(--font-weight-bold);
  line-height: 3.4rem;
}

.wp-block-columns.five-reasons .wp-block-column p:first-child::after {
  content: ".";
  position: relative;
  color: var(--color-etc-orange);
}

.page-content .wp-block-columns.five-reasons .wp-block-column {
  flex-basis: calc(25% - 1.25rem);
}

.wp-block-columns.five-reasons .wp-block-column p:nth-child(2) {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.75rem;
  text-transform: uppercase;
}

.wp-block-columns.five-reasons .wp-block-column p:last-child {
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.25rem;
}

/* Modules design */
.wp-block-columns.modules {
  flex-direction: row;
  margin-top: 0;
  padding-right: var(--whitespace);
  padding-bottom: var(--whitespace);
  padding-left: var(--whitespace);
  gap: var(--whitespace);
  background-color: var(--color-etc-blue10);
}

.page-content .wp-block-columns.modules .wp-block-column {
  flex-basis: calc(25% - 1.25rem);
}

.wp-block-columns.modules .wp-block-column p:first-child {
  padding-bottom: 0;
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.75rem;
  text-transform: uppercase;
}

.wp-block-columns.modules .wp-block-column p:last-child {
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.25rem;
}

/* Homepage ABCDutch design */
.wp-block-column.abcd .wp-block-columns {
  flex-direction: row;
}

.wp-block-column.abcd .wp-block-columns .wp-block-column:first-child {
  flex-basis: 25% !important;
}

.wp-block-column.abcd .wp-block-columns .wp-block-column:first-child p {
  padding: 1.5rem 0 2rem 1rem;
  font-size: 4.5rem;
  font-weight: var(--font-weight-extrabold);
  line-height: 4rem;
  text-align: center;
}

.wp-block-column.abcd .wp-block-columns .wp-block-column:last-child {
  flex-basis: 75% !important;
}

.wp-block-column.abcd .wp-block-columns .wp-block-column:last-child p {
  padding-top: 1.8rem;
}
